[submodule "public"]
	path = public
	url = git@github.com:xuezchuang/xuezchuang.github.io.git
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = git@github.com:xuezchuang/hexo-theme-next.git
